/*GENERAL*/

img{
	border=0;
}

div#general{
	background-color:#FFFFFF;
	position:relative; 
	width:978px;
}

div#header{
	position:relative; 
	width:978px; 
	height:141px; 
	background-image:url('../imagenes/misiva/fondo_header.jpg');
}

div#logo{
	position:absolute; 
	top:7px; 
	left:680px;
	width:267px; 
	height:92px; 
	background-image:url('../imagenes/misiva/logo_misi.jpg');
}

div#formulario{
	padding-top:16px; 
	padding-bottom:53px; 
	height:193px;
}

div#contenedor_divisor{
	width:938px; 
	border-top:1px solid #000000;
}

div#lista{
	text-align:left; 	
	height:600px;
}

div#buscar{
	position:absolute; 
	top:407px; 
	left:732px;
}

div#buscar div.buscar_lupa{
	margin-top:8px;
	float:right; 
	padding-left:0px;
	width:30px;
	height:32px;
	cursor:pointer;
	background-image:url('../imagenes/misiva/img_lupa.jpg');
}

div#buscar div.buscar_texto{
	float:right;
	padding-right:10px;
	padding-top:16px;
}

div#buscar div.buscar_texto input.texto{
	background-color:#FFFFFF; 
	color:#9a9b9c; 
	border:1px solid #000000; 
}

div#usuario{
	position:absolute; 
	top:65px; 
	left:19px;
}

div#usuario div.usuario_bienvenido{
	float:left; 
	padding:2px; 
	padding-right:7px; 
	color:#9a9b9c; 
	font-family:Arial; 
	font-size:12px;
}

div#usuario div.usuario_icono{
	float:left;
	width:0px;
	height:0px;
}

div#usuario div.usuario_nombre{
	float:left; 
	padding:2px; 
	padding-left:1px; 
	padding-right:7px; 
	color:#000000; 
	font-family:Arial; 
	font-size:16px;
}

div#usuario div.usuario_logout{
	float:left; 
	margin-top:3px;
	width:23px;
	height:18px;
	background-image:url('../imagenes/misiva/logout.jpg');
}


/*FORMULARIO*/

div#contenedor{
	font-family:Verdana; 
	font-size:30px; 
	color:#bcbcbc; 
	height:115px; 
	width:600px; 
	cursor:pointer; 
	border:1px solid #000000; 
	background-color:#E0E0E0;
}

div#contenedor div.espacio{
	padding:2px; 
	padding-top:33px; 
	height:30px;
}

div#contenedor div.espacio input.texto{
	border:none; 
	background-color:#E0E0E0; 
	font-size:30px;
	color:#9a9b9c;
}

div#contenedor div.espacio input.texto_archivo{
	margin-top:10px;
	border:none; 
	font-size:20px;
	background-color:#E0E0E0;  
	color:#9a9b9c;
}

div#contenedor_izquierdo{
	width:22px;
	height:115px;
}

div#contenedor_derecho{
	width:25px;
	height:124px;
}
div#boton{
	float:right; 
	padding-right:25px;
	padding-left:5px;
}

div#boton div.boton_contenedor{
	font-family:Verdana;
	font-size:14px; 
	color:white; 
	width:90px; 
	cursor:pointer; 
	height:30px; 
	border:1px solid #9A9B9D; 
	background-color:#9A9B9D;
}

div#boton div.boton_contenedor div.boton_espacio{
	padding:2px; 
	padding-top:6px; 
	height:22px;
}

div#combo_general{
	float:right;
}

div#combo_general div#titular_contenedor{
	font-family:Verdana; 
	font-size:14px; 
	color:white; 
	cursor:pointer; 
	width:314px; 
	height:30px; 
	border:1px solid #9A9B9D; 
	background-color:#9A9B9D;
}

div#combo_general div#titular_contenedor div.combo_titulo{
	float:left;
	width:287px; 
	padding:2px; 
	padding-top:6px; 
	height:22px;
}
div#combo_general div#titular_contenedor div.combo_flecha{
	float:left; 
	width:18px; 
	height:22px;
	margin-top:5px;
	margin-right:5px;
	background-image:url('../imagenes/misiva/flecha.jpg');
}
							
div.contenedor_cerrado{

}

div.contenedor_abierto{
	
}


div.combo{
	position:absolute; 
	background-color:white;
}

div.combo ul{
	width:310px; 
	list-style:none!important; 
	list-style-image:none!important; 
	margin:0px; 
	padding:0px; 
	border-bottom:1px solid #9A9B9D; 
	border-left:1px solid #9A9B9D; 
	border-right:1px solid #9A9B9D;
	font-family:Verdana; 
	font-size:12px; 
	color:#9A9B9D;
	padding:2px;
}

div.combo ul li{
	border-bottom:2px solid white;
}

div.combo ul li:hover{
	border-bottom:2px solid #000000;
}

div.combo ul li{
	font-size: small;
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	padding-left:3px;
	cursor:pointer;
}

div#opciones{
	padding-left:22px; 
	padding-top:2px;
}

div#opciones div.seleccionado{
	float:left; 
	padding:5px;
	border:1px solid #000000;
}

div#opciones div.normal{
	float:left;
	padding:5px;
}

div#opciones div.divisor{
	display:none;
}

div#opciones div.texto{
	color:#9A9B9D; 
	font-family:verdana; 
	font-size:14px; 
	cursor:pointer;
}


/*GENERADO*/
div#contenedor div.espacio_generado{
	padding:2px; 
	padding-top:33px; 
	height:30px; 
	font-size:30px; 
	color:#00527A; 
	text-align:center;
}


div#contenedor div.espacio_generado a.link_generado{
	 text-decoration:none; 
	 color:#00527A;
}


/*VISTA*/

table#lista{ 
	width:938px;
}

table#lista td.titulo{
	padding:6px; 
	padding-left:12px; 
	width:70%; 
	background-color:#E0E0E0; 
	color:#000000; 
	font-family:verdana; 
	font-size:14px;
}

table#lista td.datos{
	border-bottom:1px solid black; 
	padding:15px; 
	padding-left:12px; 
	width:70%; 
	font-family:verdana; 
	color:#9a9b9c; 
	font-size:12px;
}

table#lista td.datos a.rapido{
	text-decoration:none; 
	color:#9a9b9c;
}

table#lista div.paginacion_siguiente{
	cursor:pointer; 
	padding-top:8px; 
	padding-bottom:7px; 
	padding-left:5px; 
	float:right; 
	font-family:verdana; 
	color:#9a9b9c; 
	font-size:12px;
}

table#lista div.paginacion_anterior{
	cursor:pointer; 
	padding-top:8px; 
	padding-bottom:7px; 
	float:right; 
	font-family:verdana; 
	color:#9a9b9c; 
	font-size:12px;	
}

div#lista_error{
	font-family:Verdana; 
	font-size:14px; 
	color:#000000; 
	text-align:center;
}

div#lista_titular{
	width:68px;
	height:31px;
	background-image:url('../imagenes/misiva/titulo_lista.jpg');
}