/*GENERAL*/

img{
	border=0;
}

div#general{
	background-color:#F1F3F2;
	position:relative; 
	width:978px;
}

div#header{
	position:relative; 
	width:978px; 
	height:123px; 
	background-image:url('../imagenes/fondo_header.jpg');
}

div#logo{
	position:absolute; 
	top:27px; 
	left:672px;
	width:306px; 
	height:84px; 
	background-image:url('../imagenes/logo_movi.png');
	background-repeat: no-repeat;
}

div#formulario{
	padding-top:16px; 
	padding-bottom:53px; 
	height:193px;
}

div#contenedor_divisor{
	width:938px; 
	border-top:1px solid #51c6d9;
}

div#lista{
	text-align:left; 
	height:600px;
}

div#buscar{
	position:absolute; 
	top:407px; 
	left:737px;
}

div#buscar div.buscar_lupa{
	float:right; 
	padding-left:0px;
	width:24px;
	height:24px;
	cursor:pointer;
	background-image:url('../imagenes/img_lupa.png');
}

div#buscar div.buscar_texto{
	float:right;
	padding-right:5px;
}

div#buscar div.buscar_texto input.texto{
	background-color:#F1F3F2; 
	color:#7c7f82; 
	border:1px solid #51c6d9;  
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
}

div#usuario{
	position:absolute; 
	top:75px; 
	left:19px;
}

div#usuario div.usuario_bienvenido{
	float:left; 
	padding:2px; 
	padding-right:7px; 
	color:#999; 
	font-family:Arial; 
	font-size:10px;
}

div#usuario div.usuario_icono{
	float:left;
	width:16px;
	height:14px;
	background-image:url('../imagenes/icn_iniciar.png');
}

div#usuario div.usuario_nombre{
	float:left; 
	padding:2px; 
	padding-left:7px; 
	padding-right:7px; 
	color:#999; 
	font-family:Arial; 
	font-size:10px;
}

div#usuario div.usuario_logout{
	float:left; 
	padding-top:1px;
	width:14px;
	height:14px;
	background-image:url('../imagenes/logout.png');
}


/*FORMULARIO*/

div#contenedor{
	font-family:Verdana; 
	font-size:30px; 
	color:white; 
	height:115px; 
	width:600px; 
	cursor:pointer; 
	border:1px solid #51c6d9; 
	background-color:#DCE8EA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div#contenedor div.espacio{
	padding:2px; 
	padding-top:33px; 
	height:30px;
}

div#contenedor div.espacio input.texto{
	border:none; 
	background-color:#DCE8EA; 
	font-size:30px; 
	color:white;
}

div#contenedor div.espacio input.texto_archivo{
	margin-top:10px;
	border:none; 
	background-color:#DCE8EA; 
	font-size:20px; 
	color:white;
}

div#contenedor_izquierdo{
	width:22px;
	height:115px;
	background-image:url('../imagenes/sombra1.png');
}

div#contenedor_derecho{
	width:25px;
	height:124px;
	background-image:url('../imagenes/sombra2.png');
}
div#boton{
	float:right; 
	padding-right:25px;
	padding-left:5px;
}

div#boton div.boton_contenedor{
	font-family:Verdana;
	font-size:14px; 
	color:#00517a; 
	width:90px; 
	cursor:pointer; 
	height:30px; 
	border:1px solid #51c6d9; 
	background-color:#f1f3f2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div#boton div.boton_contenedor div.boton_espacio{
	padding:2px; 
	padding-top:6px; 
	height:22px;
}

div#combo_general{
	float:right;
}

div#combo_general div#titular_contenedor{
	font-family:Verdana; 
	font-size:14px; 
	color:#00517a; 
	cursor:pointer; 
	width:314px; 
	height:30px; 
	border:1px solid #51c6d9; 
	background-color:#f1f3f2;
}

div#combo_general div#titular_contenedor div.combo_titulo{
	float:left;
	width:291px; 
	padding:2px; 
	padding-top:6px; 
	height:22px;
}
div#combo_general div#titular_contenedor div.combo_flecha{
	float:left; 
	width:14px; 
	height:10px;
	margin-top:10px;
	background-image:url('../imagenes/flecha.jpg');
}
							
div.contenedor_cerrado{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div.contenedor_abierto{
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


div.combo{
	position:absolute; 
	background-color:white;
}

div.combo ul{
	width:310px; 
	list-style:none!important; 
	list-style-image:none!important; 
	margin:0px; 
	padding:0px; 
	border-bottom:1px solid #51c6d9; 
	border-left:1px solid #51c6d9; 
	border-right:1px solid #51c6d9;
	font-family:Verdana; 
	font-size:12px; 
	color:#00517a;
	padding:2px;
}

div.combo ul li:hover{
	background-color: #d3e1e4;
}

div.combo ul li{
	font-size: small;
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	padding-left:3px;
	cursor:pointer;
}

div#opciones{
	padding-left:22px; 
	padding-top:5px;
}

div#opciones div.seleccionado{
	float:left; 
	border-bottom:1px solid #51c6d9;
}

div#opciones div.normal{
	float:left;
}

div#opciones div.divisor{
	float:left; 
	color:#51c6d9; 
	font-family:verdana; 
	font-size:14px; 
	width:10px; 
	text-align:center;
}

div#opciones div.texto{
	color:#00517a; 
	font-family:verdana; 
	font-size:14px; 
	cursor:pointer;
}


/*GENERADO*/
div#contenedor div.espacio_generado{
	padding:2px; 
	padding-top:33px; 
	height:30px; 
	font-size:30px; 
	color:#00527A; 
	text-align:center;
}


div#contenedor div.espacio_generado a.link_generado{
	 text-decoration:none; 
	 color:#00527A;
}


/*VISTA*/

table#lista{ 
	width:938px;
}

table#lista td.titulo{
	padding:6px; 
	padding-left:12px; 
	width:70%; 
	background-color:#d3e1e4; 
	color:#515559; 
	font-family:verdana; 
	font-size:14px;
}

table#lista td.datos{
	border-bottom:1px solid black; 
	padding:15px; 
	padding-left:12px; 
	width:70%; 
	font-family:verdana; 
	color:#515559; 
	font-size:12px;
}

table#lista td.datos a.rapido{
	text-decoration:none; 
	color:#515559;
}

table#lista div.paginacion_siguiente{
	cursor:pointer; 
	padding-top:8px; 
	padding-bottom:7px; 
	padding-left:5px; 
	float:right; 
	font-family:verdana; 
	color:#7c7f82; 
	font-size:12px;
}

table#lista div.paginacion_anterior{
	cursor:pointer; 
	padding-top:8px; 
	padding-bottom:7px; 
	float:right; 
	font-family:verdana; 
	color:#7c7f82; 
	font-size:12px;	
}

div#lista_error{
	font-family:Verdana; 
	font-size:14px; 
	color:#00517a; 
	text-align:center;
}

div#lista_titular{
	width:87px;
	height:20px;
	background-image:url('../imagenes/titulo_lista.png');
}