@CHARSET "UTF-8";

body {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	background-image:url('../imagenes/promociones/fondo.jpg');
	background-repeat:repeat-x;
}

div#content{
	width:535px;
	position:relative;
}

div#logo{
	position:absolute;
	top:68px;
	right:0px;
}
div#recuadro{
	position:relative;
	width:535px;
	height:700px;
	top:136px;
	left:0px;
	background-color: #FFFFFF;
}