.portlet-body{
    background-color: #FFFFFF !important;
}
.contenido-no-estructurado .fondo-plan{
    border-radius: 15px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 0px !important;
}
.contenido-no-estructurado .contenido-plan{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 15px 15px 0px 0px;
    background: url('https://www.movistar.com.ec/documents/581447/1671005/fondo-planes-ilimitado.jpg');
    background-size: cover;
    color: #FFFFFF;
    height: 380px;
}
.contenido-no-estructurado .titulo-plan{
    font-size: 1.5em;
    /*background-color: #01AEF0;*/
    text-align: center;
    color: #FFFFFF;
    font-weight: bold !important;
    letter-spacing: 3px;
    border-radius: 15px 15px 0px 0px;
    padding: 5px !important;
}
.contenido-no-estructurado .subtitulo-plan{
    font-size: 2em;
    text-align: right;
    display: inline-block !important;
    padding-top: 10px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
    line-height: 90%;
}
.contenido-no-estructurado .nombre-plan{
    font-size: 6em;
    text-align: right;
    display: inline-block !important;
    padding-top: 20px !important;
    font-weight: bold !important;
    letter-spacing: 4px;
    padding-bottom: 20px !important;
    padding-right: 30px !important;
}
.contenido-no-estructurado .precio-plan-ilimitado{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #10456f;
    padding-left: 30px !important;
    padding-right: 20px !important;
    margin-top: 50px !important;
}
.contenido-no-estructurado .detalle-plan-items{
    padding-left: 10px !important;
    margin-top: 15px !important;
}
.contenido-no-estructurado ul.detalle-plan li {
    font-size: 1.3em;
}
.contenido-no-estructurado .precio-plan-smart{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #10456f;
    padding-left: 30px !important;
    padding-right: 20px !important;
    margin-top: 50px !important;
}
.contenido-no-estructurado .text_bold{
    font-size: 1.5em;
    line-height: 1;
}
.contenido-no-estructurado .dolar{
    font-size: 1.4em;
    margin-top: 5% !important;
    border-bottom: 2px solid;
    border-color: #10456f;
}
.contenido-no-estructurado .costo{
    font-size: 4em;
    font-family: 'Movistar_headlinebold';
}
.contenido-no-estructurado .iva{
    margin-top: 15px !important;
    font-size: 1em;
}
.contenido-no-estructurado .mes{
    font-size: 0.8em;
}
.contenido-no-estructurado .iva-mes{
    margin-left: 5px !important;
}
.contenido-no-estructurado .descripcion-plan{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #10456f;
    font-size: 1.4em;
}
.contenido-no-estructurado .descripcion-plan ul,
.contenido-no-estructurado  ul.detalle-plan{
    list-style: inherit;
    padding-left: 25px !important;
    margin-bottom: 10px !important;
}
.contenido-no-estructurado .cont-desc-plan{
    padding: 10px !important;
    border: 1px solid #E2E2E2;
    border-radius: 0px 0px 15px 15px;
    height: 260px;
}
.contenido-no-estructurado .btn-comprar{
    text-align: center;
    padding: 15px !important;
}
.contenido-no-estructurado .center{
    text-align: center;
}
/*********************Planes Smart*************************/
.contenido-no-estructurado .planes-smart{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.planes-smart-ilimitados{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.tit-planes-smart{
    text-align: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    border: 2px solid #0C7CA0;
    font-size: 4em;
    color: #0C7CA0;
    margin-top: 30px !important;
    margin-bottom: 90px !important;
}
.contenido-plan-smart{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 15px 15px 0px 0px;
    background: url('https://www.movistar.com.ec/documents/581447/1671005/fondo-planes-smart.jpg');
    background-size: cover;
    color: #FFFFFF;
    height: 400px !important;
}
.contenido-no-estructurado .cont-desc-plan-smart{
    padding: 10px !important;
    border: 1px solid #E2E2E2;
    border-radius: 0px 0px 15px 15px;
    height: 220px;
}
.contenido-no-estructurado .contSinPading{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.alto-market-share{
    display: none;
}
.bajo-market-share{
    display: none;
}
.contenido-no-estructurado .owl-theme .owl-controls {
    text-align: center;
    position: inherit;
    top: 0px;
    right: 0;
}
.contenido-no-estructurado .owl-carousel.owl-theme.fondo {
    background: url('https://www.movistar.com.ec/documents/581447/1671005/fondo-planes-ilimitado.jpg');
    background-size: cover;
    height: auto;
    margin: 0 20px 20px 20px;
    font-size: 1.5em;
    line-height: 1.5;
}
.contenido-no-estructurado .description-plan{
    margin: 32px 7px;
}
.contenido-no-estructurado h1.line {
    font-family: "Movistar_textregular",Arial,Helvetica,Geneva,sans-serif;
    font-size: 3.5em;
    padding: 3px 10px 5px;
    color: #0F375B;
}
.line {
    border-bottom: 2px solid #00ADEF;
}
.title-carac {
    color: #083356;
    font-size: 1.5em;
    line-height: 1;
}
.box-plan-total{
    background-color: #EBEBED;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8em;
    width: 48%;
    float: left;
    margin-left: 1px !important;
    margin-right: 2px !important;
}
.titulo-precio-total{
    padding: 5px !important;
    font-size: 0.9em;
}
.precio-total{
    margin: 4px !important;
}
.precio-total-cont{
    padding-top: 4px !important;
}
.txtdolar{
    padding-top: 2px !important;
    font-size: 1.2em;
}
.cantidad{
    font-size: 2em;
    font-weight: bold !important;
}
.iva-mes-precio-total{
    line-height: normal;
}
.iva-precio-total{
    font-size: 0.6em;
    padding-top: 2px !important;
}
.mes-precio-total{
    font-weight: bold !important;
    font-size: 0.7em;
}
.footer-precio-total{
    background-color: #0587B9;
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 2px !important;
}
select{
    width: 100% !important;
}
.fondo-planes-smart-ilimitados{
    background: url('https://www.movistar.com.ec/documents/581447/1671005/head-planes.jpg') no-repeat;
    background-size: 100%;
}
.tit-planes-ilimitados{
    color: #FFFFFF;
    border: 1px solid;
    font-size: 3.2em;
    line-height: normal;
    text-align: center;
    margin-top: 60px !important;
    margin-left: 45px !important;
    margin-right: 45px !important;
}
.subTit-planes-ilimitados{
    color: #FFFFFF;
    font-size: 1.7em;
    text-align: center;
    line-height: normal;
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.flecha{
    text-align: center;
    margin-bottom: 80px !important;
    margin-top: 80px !important;
}

@media
only screen and (max-width: 769px) {
    .contenido-no-estructurado .planes-smart-ilimitados{
        font-size: 1.1em !important;
    }
    .contenido-no-estructurado .cont-desc-plan-smart{
        height: auto !important;
    }
    .contenido-no-estructurado .cont-desc-plan{
        height: auto !important;
        font-size: 0.8em !important;
    }
    .tit-planes-smart{
        font-size: 2.6em !important;
    }
    .contenido-no-estructurado .precio-plan-ilimitado{
        font-size: 0.8em !important;
        margin-top: 150px !important;
    }
    .contenido-no-estructurado .contenido-plan{
        height: auto !important;
    }
    .contenido-no-estructurado .contenido-plan-smart{
        height: auto !important;
    }
    .contenido-no-estructurado .precio-plan-smart{
        font-size: 0.8em !important;
        margin-top: 100px !important;
    }
}
/**************** Modal provincias **************/
.modal-body{
    margin-top: 15px!important;
}
.titulo{
    font-size: 3em;
    color: #005C84;
    line-height: 1;
    font-family: 'Movistar_headlineregular';
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.subTitulo{
    font-size: 1.7em;
    line-height: 1;
    margin: 19px 15px 10px 15px;
    color: #666666;
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.readyToBuy{
    width: 50%;
    padding: 10px!important;
    font-size: 1.4em!important;
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

@media only screen and (max-width: 768px){
    .contenido-no-estructurado{
        font-size: 1.2em;
    }
}


/*CATALOGO INICIAL NICO*/
.exclusivo_barra{
    background: #01aef0;
    border: 1px solid #01aef0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 10px !important;
    position: absolute;
    min-width: 299px;
}
.exclusivo_barra2{
    background: #a8b8c5;
    border: 1px solid #a8b8c5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: #0a3e63;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 10px !important;
    position: absolute;
    min-width: 299px;
}
.reproductor .thumbnails .item_cel{
    background: url("https://www.movistar.com.ec/documents/581447/1675529/bg_item.gif") top left no-repeat;
    text-align: center;
    padding: 0px !important;
    max-width: 299px !important;
    margin: 0px auto 60px !important;
}
.reproductor .btn-success a{
    color: #fff;
}
.reproductor .thumbnails .item_cel .img_cel{
    text-align: center;
    position: relative;
    background: url('https://www.movistar.com.ec/documents/581447/1675529/loading_logo.gif') center center no-repeat;
}
.reproductor .thumbnails .item_cel .main_img{
    max-width: 200px;
}
.reproductor .thumbnails .item_cel h3{
    color: #fff;
    text-align: center;
    padding: 55px 0px 10px !important;
    font-weight: normal;
    font-size: 25px;
}
.reproductor .thumbnails .item_cel h4{
    font-weight: normal;
    color: #126ea1;
}
.exclusivo_icon{
    position: absolute;
    margin-top: 16% !important;
    /*background: url("/documents/581447/1675529/exclusivo_online.png") top left no-repeat;
    text-indent: -9999999px !important;*/
    width: 101px;
    height: 65px;
    background-size: 100%;
    margin-left: -30px !important;
}
.exclusivo_icon span{
    display: block;
    color: #fff;
    font-size: 10px;
    padding: 0px 3px;
    width: 85%;
    float: right;
}
.color1{
    background: #7ab700;
}
.color2{
    background: #238936;
}
.color3{
    background: #ec008d;
    width: 100% !important;
}
.iconos_celus{
    position: absolute;
    margin: 16% 0px 0px 241px !important;
    font-size: 8px !important;
    padding: 0px !important;
    list-style: none !important;
    z-index: 9;
    color: #006d9e;
}
.iconos_celus li:last-child{
    cursor: pointer;
}
.iconos_celus li:last-child .caracteristicas{
    display: none;
    position: absolute;
}
.iconos_celus li:last-child:hover .caracteristicas{
    display: block;
}
.iconos_celus img{
    max-width: 35px;
}
.reproductor .costo{
    text-align: right;
    margin: 10px 0px !important;
}
.reproductor .costo span{
    font-weight: bold;
    font-size: 60px;
    color: #126ea1;
    line-height: 50px;
}
.costo_detalle{
    float: right;
    width: 43%;
    text-align: left;
    color: #126ea1;
    margin-left: 5px;
    font-size: 16px !important;
    padding-left: 10px !important;
}
.costo_detalle b{
    font-size: 20px;
}
.cuotainicial{
    color: #126ea1;
    margin-bottom: 10px !important;
}
.portada_catalogo{
    background-size:100% !important;
    padding-top: 540px !important;
}
.slogan_catalogo{
    /*EDITE ESTA CLASE DESDE EL JSON*/
    position: absolute;
}
.slogan_catalogo span{
    /*EDITE ESTA CLASE DESDE EL JSON*/
    display: block;
    width: 100%;
}
.main_contenedor{
    background: url('https://www.movistar.com.ec/documents/581447/1675529/loading_logo.gif') center 260px no-repeat;
}

/*PANTALLA CELULAR ITEM*/

.reproductor_item .item_cel{
    background: url("https://www.movistar.com.ec/documents/581447/1675529/bg_item.gif") top left no-repeat;
    text-align: center;
    max-width: 299px;
}
.reproductor_item .item_cel .img_cel{
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.reproductor_item .item_cel .main_img{
    max-width: 200px;
}
.reproductor_item .item_cel h3{
    color: #fff;
    text-align: center;
    margin: 35px 0px 0px;
    font-weight: normal;
}
.reproductor_item .item_cel h4{
    font-weight: normal;
    color: #126ea1;
}
.info_item{
    padding-left: 0px;
}
.info_item h2{
    color: #10385d;
    font-weight: normal !important;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.seccion2 .info_item .tipo_plan{
    color: #10385d;
    font-weight: normal !important;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 36px !important;
    text-align: left !important;
}
.seccion2 .info_item{
    padding-right: 0px !important;
    padding-bottom: 10px;
}
.seccion2 .span6.info_item h2{
    position: absolute;
    width: 40%;
}
.seccion2 .span4.info_item{
    margin-left: 5px !important;
}
.seccion2 .span8.info_item{
    padding-left: 47px !important;
}
.subtit{
    border-bottom: 1px solid #00adef;
}
.seccion2 .info_item h2{
    margin-top: 50px;
    padding-bottom: 20px !important;
}
.seccion2 .item_cel{
    padding: 0px !important;
    min-width: 299px !important;
}
.entrega_gratis{
   border-bottom: 1px solid #00adef; 
   color: #10385d;
    margin-left: 0px !important;
    text-align: right;
    padding-bottom: 5px !important;
    padding-right: 20px !important;
}
.entrega_gratis h2{
    font-weight: normal !important;
    padding-bottom: 13px !important;
    margin-bottom: 0px !important;
    border-bottom: none !important;
    margin-top: -6px !important;
}
.entrega_gratis img{
    max-width: 105px;
}

.head1 {
    color: #10385d;
    font-weight: bold !important;
    font-size: 21px !important;
    background: #eee;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #d3d3d3;
    border-left:  1px solid #d3d3d3;
    padding: 10px !important;
}
.titulos_cat{
    margin-bottom: 25px;
}
.pg_financiado{
    color: #0d598b;
    border-bottom: 1px solid #00adef;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}
.pg_financiado .col1{
    font-size: 19px;
}
.pg_financiado .col1 span{
    font-size: 15px;
    font-weight: bold;
}

.pg_financiado .col2, .pg_financiado .col3{
    font-size: 12px;
    font-weight: bold;
}
.pg_financiado .costo_item{
    font-size: 38px !important;
    font-weight: normal !important;
    text-align: center;
    margin-top: 0px !important;
}
.pg_financiado .costo_item span.costo_cel_fin{
    font-size: 38px !important;
    font-weight: normal !important;
    text-align: center;
    margin-top: 0px !important;
}
.costo_json{
    font-size: 38px !important;
    font-weight: normal; !important;
}

.pg_financiado .col2 span, .pg_financiado .col3 span{
    font-size: 15px;
    font-weight: normal;
}
.cuota_inicial{
    font-size: 15px !important;
    display: block;
    line-height: 17px;
    text-decoration: none !important;
    margin-top: 10px;
}
.cuota_inicial span{
    font-size: 15px !important;
    font-weight: normal !important;
}
.pg_financiado .col2, .pg_financiado .col3{
    position: relative;
}
.igual{
    font-size: 40px !important;
    position: absolute;
    top: 55px;
    right: -4px;
    font-weight: bold !important;
}
.col2 .igual{
    right: -20px;
}
.costo_total{
    background: #ebebed;
    text-align: center;
    max-width: 120px;
    margin: auto !important;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 0px 0px !important;
}
.pg_financiado .col4 .boton_centrar{
    margin: 10px auto !important;
    width: 120px;
}
.costo_total_num{
    font-size: 30px;
    font-weight: normal;
    margin-top: 0px !important;
}
.costo_total_num .span6 .num_tot_cell, .costo_total_num .span6 .num_tot{
    font-size: 26px !important;
}
.costo_total_num span{
    font-size: 12px;
    display: block;
    line-height: 11px;
}
.num_tot{
    text-align: right;
}
.pie_azul{
    background: #1387ba;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 5px;
}
.iva_inc{
    font-size: 9px !important;
}
.dist_div{
    padding-left: 20px;
}
.procmocion_verde{
    text-align: center;
    padding: 20px !important;
    font-size: 30px;
    color: rgb(9, 63, 97);
}
.procmocion_verde img{
    max-width: 63px;
}
.tipo_plan{
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    margin: 5px 0px;
}
.regresar_catalogo{
    text-decoration: underline;
    padding: 20px !important;
    display: block;
    font-size: 18px;
}
.incluye_s2{
    color: #11375e;
    font-size: 16px !important;
}
.seccion2 .pagalo{
    font-size: 27px;
    padding: 10px 0px;
    color: #11375e;
}
.seccion2 .costo_celular, .seccion2 .costo_plan{
    font-size: 22px;
    color: #11375e;
    padding: 0px 0px 10px;
}
.seccion2 .total_pago{
    font-size: 26px;
    padding: 10px 0px;
    color: #11375e;
}
.seccion2 #formulario input, .seccion2 #formulario select{
    width: 100%;
}

.titulos_cat_cel{
    display: none;
    margin-bottom: 25px !important;
}
#listaProvincias{
    max-width: 80% !important;
}
.signo_dolar{
    font-size: 25px !important;
    color: #126ea1 !important;
}
.down{
   margin: 20px auto !important;
   cursor: pointer;
   text-align: center !important;
}
.down img{
   max-width: 50px;
   cursor: pointer;
}
.seccion2 .iconos_celus{
    position: initial;
    margin: 30px 0px 0px !important;
    padding: 0px !important;
    text-align: center;
}
.seccion2 .iconos_celus li{
    float: left;
    margin-right: 10px !important;
}
.seccion2 .iconos_celus img {
    max-width: 45px;
}
.info img{
    max-width: 15px;
}
.dropdown_info{
    display: none;
    position: absolute;
    background: #ddd;
    border: 1px solid #11375e;
    max-width: 40%;
    padding: 15px !important;
    z-index: 100;
}
.info:hover  .dropdown_info{
    display: block !important;
}
.buscador_telf{
    color: #0a3e63;
    margin-left: 40px !important;
    max-width: 500px;
}
.buscador_telf span{
    display: block !important;
    margin-bottom: 10px !important;
}
.buscador_telf select{
    background: #c8d5dd !important;
    color: #0a3e63;
    max-width: 45%;
    margin: 5px 10px 20px 0px;
}
/*formulario*/
.seccion2 #formulario input{
    margin: 0px;
    border-bottom: none !important;
    border-radius: 0px !important;
    border-radius: 0px !important;
    padding:0px 0px 0px 75px;
    height: 55px !important;
}
.seccion2 #formulario input.nombre{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background: url('https://www.movistar.com.ec/documents/581447/1675529/form_icon_1.gif') 5px center no-repeat;
}
.seccion2 #formulario input.tipodoc{
    background: url('https://www.movistar.com.ec/documents/581447/1675529/form_icon_2.gif') 5px center no-repeat;
}
.seccion2 #formulario input.email{
    background: url('https://www.movistar.com.ec/documents/581447/1675529/form_icon_3.gif') 5px center no-repeat;
}
.seccion2 #formulario input.numcont{
    background: url('https://www.movistar.com.ec/documents/581447/1675529/form_icon_4.gif') 5px center no-repeat;
}

.seccion2 #formulario #contratar{
    margin: 20px 0px !important;
    float:right;
}

.seccion2 #formulario select{
    margin: 0px !important;
    border-radius: 0px !important;
    border-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    padding:0px 0px 0px 75px !important;
    height: 55px !important;
    background: url('https://www.movistar.com.ec/documents/581447/1675529/form_icon_5.gif') 5px center no-repeat;
}


input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
    color: #7ab700 !important;
}
input:focus:-moz-placeholder, select:focus:-moz-placeholder {
    color: #7ab700 !important;
}
input:focus::-moz-placeholder, select:focus::-moz-placeholder {
    color:  #7ab700 !important;
}
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
    color: #7ab700 !important;
}

span.serv{
    margin: 0px 15px !important;
}
input:focus, select:focus { 
    border-color: #7ab700 !important;
    box-shadow: none !important;
    color: #7ab700 !important;
}
select{
    box-shadow: none !important;
}
select#solicitud{
    color: #333;
}
.seccion1 .pg_financiado .col4 .boton_centrar a{
    color: #fff;
}
.seccion1 .btn.btn-success{
    width: 100% !important
}
@media (max-width: 1024px){
    .thumbnails .span4{
        width: 50% !important;      
    }
    .portada_catalogo {
        padding-top: 440px !important;
    }
    .slogan_catalogo {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .slogan_catalogo span {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .procmocion_verde{
        font-size: 20px !important;
        padding: 10px !important;
    }

    /*ITEM*/
    .reproductor_item .span8.info_item{
        width: 100% !important;
    }
    .reproductor_item .img_item{
        width: 100% !important;
    }
    .reproductor_item .item_cel{
        margin: auto !important;
        float: none !important;
    }
}
@media (max-width: 900px){
    .thumbnails .span4{
        width: 50% !important;
    }
    .portada_catalogo {
        padding-top: 350px !important;
    }
    .slogan_catalogo {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .slogan_catalogo span {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .procmocion_verde{
        font-size: 20px !important;
        padding: 10px !important;
    }
}

@media (max-width: 768px){
    .main_contenedor{
        background-position: center 125px;
    }
    .thumbnails .span4{
        width: 100% !important;
    }
    .procmocion_verde{
        font-size: 12px !important;
        padding: 10px !important;
    }
    .procmocion_verde img {
        max-width: 30px !important;
    }
    .portada_catalogo {
        padding-top: 150px !important;
    }
    .slogan_catalogo {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .slogan_catalogo span {
        /*EDITE ESTA CLASE DESDE EL JSON*/
    }
    .thumbnails .btn{
        margin: auto !important;
    }
    .exclusivo_icon {
        margin-top: 31% !important;
    }
    .iconos_celus {
        margin-top: 26% !important;
    }

    /*ITEM*/
    .reproductor_item .span8.info_item .row-fluid .span3, .reproductor_item .span8.info_item .row-fluid .span4{
        width: 100% !important;
        text-align: center !important;
    }
    .seccion1 .span2.col1{
        width: 100% !important;
    }
    .igual{
        display: none !important;
    }
    .titulos_cat{
        display: none !important;
    }
    .titulos_cat_cel{
        display: block;
        margin-bottom: 10px !important;
    }
    .down{
        margin: 5px auto !important;
        width: 20px !important;
    }
    .pg_financiado{
        border-bottom: 20px solid;
    }
    .pg_financiado:after{
        content: '';
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #0d598b;
        margin: 0px auto -51px !important;
    }
    .seccion1 .info_item br{
        display: none;
    }
    .seccion1 .info_item h2{
        text-align: center !important;
    }
    .col1{
        text-align: center !important;
        margin-bottom: 0px !important;
    }
    .seccion1 .col1 b{
        margin: 0px 3px 0px 6px !important;
    }
    .seccion1 .col1 span{
        margin: 0px 3px !important;
    }
    .seccion1 .costo_item {
        margin-top: 10px !important;
    }
    .seccion1 .costo_total{
        max-width: 100% !important;
        display: table !important;
    }
    .seccion1 .costo_total .costo_total_num{
        margin: 10px auto 0px !important;
        width: auto !important;
        display: table !important;
    }
    .seccion1 .costo_total .costo_total_num .num_tot, .costo_total .costo_total_num .num_tot_cell{
        float: left !important;
        width: auto !important;
        font-size: 55px;
    }
    .seccion1 .costo_total .costo_total_num .span5{
        float: left !important;
        width: auto !important;
    }
    .costo_total_num .span6 .num_tot_cell, .costo_total_num .span6 .num_tot{
        font-size: 30px !important;
    }
    .centrado_total{
        margin: auto !important;
    }
    /*.seccion2*/
    .seccion2 .span8.info_item{
        padding: 0px !important;
    }
    .seccion2 .info_item h2{
        border-bottom: none !important;
        line-height: 25px !important;
        padding-bottom: 0px !important;
        margin-top: 15px !important;
        position: static !important;
        width: 100% !important;
        text-align: center !important;
        font-size: 30px !important;
        margin-bottom: 0px;
    }
    .seccion2 .entrega_gratis{
        text-align: center !important;
    }
    .seccion2 .entrega_gratis h2{
        font-size: 20px !important;
    }
    .seccion2 .entrega_gratis img {
        max-width: 50px !important;
        margin: 5px 0px !important;
    }
    .seccion2 .tipo_plan, .seccion2 .pagalo{
        text-align: left !important;
        font-size: 28px !important;
    }
    .seccion2 .costo_celular, .seccion2 .costo_plan{
        font-size: 19px !important; 
        padding-bottom: 3px !important;
    }
    .seccion2 .incluye_s2 b{
        width: 100% !important;
        display: block !important;
        text-align: center !important;
    }
    .seccion2 .total_pago{
        font-size: 24px !important;
        line-height: 24px !important;
    }
    span.serv{
        display: block !important;
        text-align: center !important;
    }
}
