.listatelf{
  display: inline-block;
  width: 100%;
  list-style-type:none;
}
.listatelf ul li{
  padding: 0px;
}
.centrador{
  max-width: 325px;
  margin: auto;
  color: #004681;
  text-align: center;
}
.centrador h2{
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 35px;
}
img{
  margin:auto;
}
.main{
  background-size: 100%;
  max-width: 1024px;
  margin: 0px auto;
  padding-top: 500px;
  padding-bottom: 40px;
}
.frace_promo{
  color: #fff;
  max-width: 50%;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 100px;
  margin-left: 40px;
}
.tit_border{
  border: 1px solid #fff;
  padding: 10px 20px;
  display: block;
  font-size: 36px;
}
.verde {
  color: #b8d432;
}
.titulo_portada{
  color: #004681;
  max-width: 40%;
  margin:0px auto 40px;
  text-align: center;
  font-size: 30px;
  line-height: 29px;
}
.detalle_costo{
  font-size: 70px;
  font-weight: bold;
  padding-right: 0px !important;
}
.detalle_costo span{
  font-size: 30px;
}
.iva{
  padding-left: 10px !important;
  padding-top: 20px;
  line-height: 22px;
  font-size: 24px;
}
.interesa{
  color: #fff;
  background: #ec008c;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.interesa:hover{
  background: #b8d432;
  color: #004681;
  text-decoration: none;
}
.seccion2{
  margin-top: 40px;
}
.seccion2 .img_cel img{
  max-width: 100%;
  max-width: 300px;
  margin-top: 65px;
}
#item1{
  margin: auto;
  max-width: 300px;
}
.carousel-control.left{
  background: none !important;
}
.carousel-control.right{
  background: none !important;
}
#promocional{
  max-width: 300px;
  float: right;
  padding-left:20px !important;
  margin: 20px 0px !important;
}
.info_item{
  padding: 20px !important;
}
.pad30{
  max-width: 85%;
  margin: 20px auto;
}
.pad30 input, .pad30 select{
  border: 1px solid #999;
}
.glyphicon-chevron-right{
    color: #000 !important;
}
.glyphicon-chevron-left{
    color: #000 !important;
}
.legales {
    max-width: 1024px;
    margin: 0px auto;
    text-align: justify;
}
.acordion-main{
  text-align: center;
}
.acordion{
  margin-top: 40px;
}

@media (max-width: 768px){
      .main{
        padding-top: 400px;
      }
      .frace_promo{
          max-width: 100%;
          font-size: 18px;
          top: 9px;
          width: 100%;
          margin-left: 0px;
          padding-left: 0px;
      }
      .tit_border {
          font-size: 28px;
          padding: 5px;
          width: 300px;
          text-align: center;
          margin: auto;
      }
      .titulo_portada {
        max-width: 70%;
      }
      .detalle_costo{
        float: left;
        text-align: right;
      }
      .iva{
        float: left;
      }
      .cont_costo{
        margin-left: 75px;
      }
      .legales {
        padding: 10px;
      }
      .legales h3{
          font-size: 18px;
          text-align: left;
      }
      .text-precio-final{
        width: 100%;
        display: inline-block;
        text-align: center;
      }
      .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
          max-width: 85% !important;
      }
}