<div class="seccion2" style="display: block; opacity: 1; margin-left: 0px;">
	<div>
		<div class="col-md-4 item_cel">
			<div id="item1">
				<div class="item_cel">
					<div class="exclusivo_barra">
						{{item.plan[0]}}
					</div>
					<div class="img_cel">
						<img ng-src="img/{{item.imagen[0]}}" class="main_img">
					</div>
					<ul class="iconos_celus">
	                    <li ng-repeat="icon in item.icons">
	                        <img ng-src="img/{{icon[1]}}" /><br>
	                        {{icon[0]}}
	                    </li>
	                </ul>
				</div>
			</div>
		</div>
		<div class="col-md-8 info_item">
			<div class="row-fluid">
				<div class="span6 info_item">
					<h2>{{item.titulo}}</h2>
				</div>
				<div class="span6 entrega_gratis">
					<h2>Entrega Gratis</h2> 
					<img src="img/camion.svg">
				</div>
			</div>
			<div class="row-fluid subtit">
				<div class="span12 info_item">
					<div class="tipo_plan">{{item.plan[0]}}</div>
					<br>
					<div ng-if="item.plan[0]=='Plan Smart Control $20'" class="incluye_s2"><b>Incluye:</b>
						<span class="serv">
							Servicio Familia Light 
							<span class="info">
								<img src="img/i.svg">
								<div class="dropdown_info">¡Habla sin costo e ilimitadamente! El contratante puede inscribir hasta 2 líneas beneficiarias Movistar y hablan ilimitadamente entre los tres.</div>
							</span>
						</span>
						<!--<span class="serv">
							Hasta $15 de consumo adicional 
							<span class="info"><img src="img/i.svg">
								<div class="dropdown_info">¡No te quedes sin saldo! Recibe hasta $15 adicionales para hablar y mensajear a todas las operadoras, además los puedes usar para llamadas LDI. El valor consumido serÃ¡ cargado en la próxima factura.</div>
							</span>
						</span>-->
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-12">
					<div class="pagalo">
                        <div class="total_pago">
                            Pago Financiado 24 meses <b>{{item.costo_plan[0] + item.precio_promo/24 | currency}} + IVA/mes</b>
                        </div>
					</div>
					<div class="costo_celular">
						Precio celular {{item.precio_promo/24 | currency}} + IVA/mes
					</div>
					<div class="costo_plan">
						Plan {{item.costo_plan[0] | currency}} + IVA/mes
					</div>
				</div>
                <!--<div class="col-md-6">
                    <div class="total_pago">
                        Pago Financiado 24 meses{{item.costo_plan[0] + item.precio_promo/24 | currency}} + IVA/mes
                    </div>
				</div>-->
			</div>
			<div class="row-fluid">
				<div class="span12">
					<form  autocomplete="off" action="https://www2.movistar.com.ec/liferay_app/mailer.php" class="pad30" id="formulario" method="post">
						<div class="texto_form row">
							<input class="span10 input nombre" id="nombres" name="nombres" placeholder="*Escribe tu nombre completo" required pattern="[a-zA-Z]+[ ][a-zA-Z]+" size="60" type="text">
						</div>
						<div class="texto_form row">
							<input class="span6 input tipodoc" id="numero" pattern=".{10,10}" maxlength="10" name="numero" placeholder="*Ingresa tu número de cédula" required title="Ingresa correctamente el número de identidad" type="number">
						</div>
						<div class="texto_form row">
							<input class="span10 input email" id="email_conctacto" maxlength="40" name="email_conctacto" placeholder="*Escribe tu dirección de correo" required size="53" type="email">
						</div>
						<div class="texto_form row">
							<input class="span6 input numcont" id="contactouno" maxlength="10" name="contactouno" placeholder="*Ingresa tu número de contacto" required="" type="number">
						</div>
						<div class="texto_form row">
							<select class="span7 input retiro" id="solicitud" name="solicitud" required>
								<option value="">* Selecciona el modo de entrega</option>
								<option value="Envio a Domicilio Gratis">Envío a Domicilio Gratis</option>
								<option value="Retiro CAV Quicentro Norte Quito">Retiro CAV Quicentro Norte Quito</option>
								<option value="Retiro  CC Paseo San Francisco Cumbaya">Retiro CC Paseo San Francisco Cumbayá</option>
								<option value="Retiro CAV Mall del Sol Guayaquil">Retiro CAV Mall del Sol Guayaquil</option>
								<option value="Retiro CC San Marino Guayaquil">Retiro CC San Marino Guayaquil</option>
								<option value="Retiro CC Mall del Rio Cuenca">Retiro CC Mall del Rio Cuenca</option>
								<option value="Retiro CC Paseo Shopping Santo Domingo">Retiro CC Paseo Shopping Santo Domingo</option>
								<option value="Retiro CAV Ambato Centro Ambato">Retiro CAV Ambato Centro Ambato</option> 
							</select>
						</div>
						<div class="texto_form row">
							<input class="span6 input" id="promocional" name="promocion" placeholder="Ingresa el código promocional" type="text" pattern="[m-mM-M]+[a-aA-A]+[m-mM-M]+[a-aáA-AÁ]">
						</div>
						<div class="row">
							<input type="hidden" name="tipo_pago" class="tipo_pago" value="financiado">
							<input type="hidden" name="costo_celular" class="costo_celular_inp" value="{{item.precio_promo | currency}}">
							<input type="hidden" name="costo_plan" class="costo_plan_inp" value="{{item.costo_plan[0] | currency}}">
							<input type="hidden" name="total_pago" class="total_pago_inp" value="{{item.costo_plan[0] + item.precio_promo | currency}}">
							<input type="hidden" name="plan" class="plan" value="{{item.plan[0]}}">
							<input type="hidden" name="equipo" class="equipo" value="{{key}}">
							<input type="hidden" name="campana" class="equipo" value="Promo Metro">
			                <button id="contratar" type="submit" ng-click="trackform(key) | trackEvent:'Promo-metro-mama':'Form - Boton Enviar':'{{key}}'" class="interesa font-size-button padding-button btn purpura submit span3"><b>Enviar</b></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>