{{item=DB.d[1][key];""}}
<div style="background: url('img/{{DB.d[0].portada}}') top right no-repeat;" class="main">
	<div ng-bind-html="DB.d[0].frace_promo" class="frace_promo"></div>
	<div ng-bind-html="DB.d[0].titulo_portada" class="titulo_portada"></div>
	<ul class="hidden-sm hidden-xs listatelf">
		<li ng-repeat="(key, item) in DB.d[1]" class="item col-md-4">
			<div class="centrador">
				<h2>{{item.titulo}}</h2>
				<div>{{item.plan[0]}} en 24 cuotas de</div>
				<div class="costo">
					<div class="col-md-6 text-right detalle_costo"><span>$</span>{{(item.precio_promo / 24) + item.costo_plan[0] | currency: '' : 0}}</div>
					<div class="col-md-6 text-left iva"><b>+ IVA</b><br>/mes</div>
                    <div class="col-md-12 text-precio-final">Precio final {{(((item.precio_promo / 24) + item.costo_plan[0]) * 0.12) + ((item.precio_promo / 24) + item.costo_plan[0]) | currency: '$' : 2}} inc. IVA</div>
				</div>
				<img ng-src="img/{{item.imagen[0]}}">
				<a ng-click="showdiv(key)" scroll-on-click tar="#show-form" class="interesa">Me interesa</a>
			</div>
		</li>
	</ul>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Wrapper for slides -->
	  <div class="hidden-md hidden-lg">
		  <div class="carousel-inner " role="listbox">
		    <div ng-repeat="(key, item) in DB.d[1]" class="item text-center centrador" ng-class="{'active':$first}">
		      	<h2>{{item.titulo}}</h2>
				<div>{{item.plan[0]}} en 24 cuotas de</div>
				<div class="cont_costo">
					<div class="text-right detalle_costo"><span>$</span>{{(item.precio_promo / 24) + item.costo_plan[0] | currency: '' : 0}}</div>
					<div class="text-left iva"><b>+ IVA</b><br>/mes</div>
				</div>
                <div class="col-md-12 text-precio-final">Precio final {{(((item.precio_promo / 24) + item.costo_plan[0]) * 0.12) + ((item.precio_promo / 24) + item.costo_plan[0]) | currency: '$' : 2}} inc. IVA</div>
				<img ng-src="img/{{item.imagen[0]}}">
				<a ng-click="showdiv(key)" scroll-on-click tar="#show-form" class="interesa">Me interesa</a>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
	<div id="show-form">
    	<div ng-include="templateURL"></div>
    </div>
    <div class="acordion-main">
	    <a class="btn btn-primary acordion" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		  Condiciones Pospago clientes online
		</a>
		<div class="collapse" id="collapseExample">
		  <div class="well legales">
		    <h3>Condiciones Pospago clientes online</h3>
		    <p>Promoción válida desde el 05 de mayo hasta el 31 de mayo de 2016. Todos los clientes que reciban una notificación por correo o ingresen en el Banner de la promoción en la página Web; que activen, porten o transfieran de prepago a pospago su línea, reciben la siguiente promoción, la misma será comunicada en la notificación por correo o en el banner al que ingrese el cliente mediante la página Web: US$5 mensuales por 12 meses consecutivos para llamadas nacionales a teléfonos Movistar; es decir reciben un total de US$60. El beneficio se entregará únicamente si el cliente activa, porte una línea o transfiere de prepago a pospago en la nueva familia de Planes Pospago. El cliente recibe la promoción específica si le llega una notificación por correo o ingresa en el banner de la promoción, en la cual se notifica que es sujeto del siguiente beneficio: Se entregarán US$5 dólares por 12 meses desde la fecha de activación del servicio, que le permitirá realizar llamadas nacionales a teléfonos Movistar, al precio por minuto adicional de su plan contratado y tienen una vigencia de 30 días. Aplica para los Planes Pospago de la oferta comercial vigente, listados en el <a target="_blank" href="/mama/documentos/Anexo_VPR-12087-2016_PospagoClientesOnline.pdf">ANEXO</a>. Aplica para clientes individuales con cédula. El beneficio se entregará únicamente si el cliente activa, porte una línea o transfiere de prepago a pospago en la nueva familia de Planes Pospago. El beneficio promocional no podrán ser utilizado para actividades comerciales, de lucro o comunicación masiva. En caso de que se compruebe el mal uso del servicio la operadora podrá suspender la promoción. Finalizada la promoción, el cliente mantiene las condiciones originales del plan contratado. Vigencia del plan 24 meses. Para no perder la promoción el abonado no debe realizar cambios plan, reordenamiento de cuenta, cambio de servicio baja a prepago, cambio de número, transferencias de beneficiario, renovaciones con terminal interno o cualquier otro cambio que genere baja y alta en la línea. El bono promocional de voz se descontará aplicando la tarifa del plan contratado. Revisas bases y condiciones <a target="_blank" href="/mama/documentos/BasesPromocionPospagoClientesOnLine.pdf">aquí</a> </p>
		    <p>Promoción comunicada a ARCOTEL mediante oficio VPR-12087-2016 Pospago clientes online</p>
		  </div>
		</div>
	</div>
</div>